.terraform
terraform.tfstate
*.tfstate*
terraform.tfvars
accessKeys.csv
init.sh
orderin-cluster.yaml
orderin-cluster
out.log
orderin
*private_key.pem
#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*
eks-state
*lambda.zip

config-map-aws-auth.yaml
config-map-aws-auth_orderi-cluster.yaml
cloud-nuke_darwin_amd64
admin_cluster_role
developer_cluster_role
*kubeconfig*
sample-app*
*.vscode
*.DS_Store

init.sh
config-map-aws-auth_kroc-cluster.yaml
*kubeconfig_kroc-cluster
metricbeat*
private.key
docs.sh
builds*
